# --- WEB DAV CONFIG ---
NC_BASE="https://driver.webtui.vn"
NC_USER="ten_dang_nhap"
NC_PASS="mat_khau_ung_dung_co_gach_noi"

# --- SYNC TOOL CONFIG ---
SERVER_NAME="PZ_Server"
PZ_LOG_FILES="C:\Users\Admin\Zomboid\Logs\server-console.txt"
REMOTE_BASE="pz-logs/eden"
FIRST_SYNC_MODE="tail"
MAX_LATEST_LINES=2000
MAX_ERROR_LINES=300
ENABLE_ARCHIVE=true

# --- EXPRESS BACKEND CONFIG ---
PORT=3000
ADMIN_TOKEN="YOUR_SECURE_RANDOM_TOKEN_123"
FRONTEND_ORIGIN="http://localhost:5173"
